body
{
margin-top: 40px;
background: rgba(191, 191, 191, 0.1);
}

img 
{
	border-radius: 50%;
	margin-top:30px;
}
p
{
	width:500px;
	color: #FFFFFF;
	text-align: center;
}

h3, h2 
{
 color:#FFFFFF;
 text-align: center;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}