body {
	min-width: 630px;
	background-color: #E21D1D;
}
h3{
	color: #FFFFFF;
}

#container {
	padding-left: 200px;
	padding-right: 190px;
}
		
#container .column {
		position: relative;
		float: left;
}
		
#center {
		padding: 10px 20px;
		width: 100%;
}
		
#left {
	width: 180px;
	padding: 0 10px;
	right: 240px;
	margin-left: -100%;
}
		
#right {
			width: 180px;
			padding: 0 10px;
			margin-right: -100%;
		}
		
		#footer {
			clear: both;
			
		}
		
		/* IE hack */
		* html #left {
			left: 150px;
		}

		/* Make the columns the same height as each other */
		#container {
			overflow: hidden;
		}

		#container .column {
			padding-bottom: 1001em;
			margin-bottom: -1000em;
		}

		* html body {
			overflow: hidden;
		}
		
		* html #footer-wrapper {
			float: left;
			position: relative;
			width: 100%;
			padding-bottom: 10010px;
			margin-bottom: -10000px;
			background: #fff;
		}

		body {
			margin: 0;
			padding: 0;
			font-family:Sans-serif;
			line-height: 1.5em;
		}
		
		p {
			color: #000000;
		}

		nav ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		
		nav ul a {
			color: #E21D1D;
			text-decoration: none;
		}

		#header, #footer {
			font-size: large;
			padding: 0.3em;
			background: #E21D1D;
		}

		#left {
			background: #000000;
		}
		
		#right {
			background: #000000;
		}

		#center {
			background: #000000;
		}

		#container .column {
			padding-top: 1em;
		}
		
#logo
	{
		height: 200px;
		width: 700px;
		margin-top: 10px;
		background-color: #E21D1D;
	}
	/*Profile*/
	

#profile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
    top: 0;
    width: 100%;
	height: 100%;
}

#name {
    float: left;
}

#name a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#name a:hover:not(.active) {
	text-decoration:underline;
	color: #000000;
}

